<div class="form-group row">
  <label [class.col-lg-3]="!isEditMode" [class.col-lg-2]="isEditMode" class="col-form-label" for="{{controlName}}">{{label}}</label>
  <div *ngIf="!isEditMode" class="col-lg-9">
    <p class="form-control-plaintext">{{controlValue}}</p>
  </div>
  <div *ngIf="isEditMode" class="col-lg-10">
    <ng-content></ng-content>
    <!-- && form.submitted-->
    <i *ngIf="showValidationErrors" class="fa form-control-feedback"
       [ngClass]="{'fa-check': !hasError, 'fa-times' : hasError}" aria-hidden="true"></i>
    <!-- && form.submitted-->
    <div *ngIf="showValidationErrors && hasError">
      <span class="invalid-feedback" *ngFor="let errorMessage of errorMessages">
        {{errorMessage}}
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <hr [class.separator-hr]="!isEditMode" [class.edit-separator-hr]="isEditMode" />
  </div>
</div>
