################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite


## Team Essentials ##
#####################
.vscode/settings.json
.vscode/team-essentials/state.json


## Team Essentials ##
#####################
.vscode/settings.json
.vscode/team-essentials/state.json
